body {
    background-color: rgb(0, 0, 0);
    color: rgb(36, 217, 160);
    overflow: hidden;
    margin: 0;
    min-height: 100vh;
}

a:link {
    text-decoration: none;
}


.top-nav-bar {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: rgb(99, 0, 69);
    height: 0.5cm;
    width: 100%;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

nav :hover, #creator:hover {
    color: rgb(43, 255, 188);
}

#nt1-2 {
    text-align: center;
}

#nt1-3 {
    text-align: right;
    position: absolute;
    right: 30px;

}

a {
    color: rgb(36, 217, 160);
    padding-right: 10px;
}

#clover {
    filter: grayscale();
    height: 0.87cm;
    border-radius: 10%;
    position: absolute;
    top: 0;
}

#clover:hover {
    filter: none;
}

/* ohjelmien muotoilu alkaa */

#characters {
    border: none;
    width: 400px;
    background-color:#ffeed0;
    border-radius: 5px;
}

#words, #text {
    border: none;
    background-color:rgb(255, 238, 208);
    border-radius: 5px;
    resize: none;
    outline: none;
}


button {
    background-color: rgba(99, 0, 69, 0.547);
    color: rgb(36, 217, 160);
    border-radius: 7px;
    border: none;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

button:hover {
    background-color: rgb(99, 0, 69);
}

#calculate {
    margin-top: 5%;
}

.sliders {
    margin-top: 10%;
    display: grid;
    text-align: right;
    justify-content: center;
}

.sliders div {
    margin-bottom: 2%;
}

input[type=range] {
    -webkit-appearance: none;
    background: rgba(99, 0, 69, 0.547);
    color: rgb(36, 217, 160);
    border-radius: 22px;
    height: 7px;
}

input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
     background-color: rgb(36, 217, 160);
     height: 15px;
     width: 25px;
     border-radius: 22px;
  }


input[type=number] {
    border-radius: 7px;
    background-color: rgb(36, 217, 160);
    text-align: center;
    width: 80px;
}

input[type=radio] {
    margin-top: 1%;
}

.program {
    text-align: center;

    
    width: 30%;
    background-color: rgba(99, 0, 69, 0.547);
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    padding-bottom: 4vh;
    margin: auto;
    margin-bottom: 5vh;
}

img {
    border: 5px solid #ffeed0;
    border-radius: 4px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

#print_area {
    margin-top: 2%;
    display: grid;
    text-align: left;
    justify-content: center;
}

footer{
    position:fixed;
    bottom:13px;
    right: 0;
    }

    footer button {
        background-color: rgba(99, 0, 69, 0.547);
        border: none;
        color: rgb(36, 212, 156);
        align-content: right;
        text-align: center;
        align-items: center;
        height: 3vh;
        width: 12vh;
        border-radius: 6px;
        margin-left: auto;
        margin-right: 10px;
    }

    footer button:hover {
        background-color: rgb(99, 0, 69);
    }